{{define "yield"}}
    <div class="faq">
        <div class="panel panel-default">
            <div class="panel-heading">FAQ</div>
            <div class="panel-body">
                <span>Some FAQ contetnt will be placed here</span>
                <a class="btn btn-primary mt-4" href="/">Go to the main menu</a>
            </div>
        </div>
    </div>
{{end}}